<error-message
  *ngIf="errorMessageService.error$ | async as error"
  [errorMessage]="error"
></error-message>

<ng-container *ngIf="quote$ | async as quote">
  <single-quote [quoteData]="quote">
    <button mat-button (click)="onLike()">
      <mat-icon
        [ngClass]="{ 'material-icons-outlined': !(quoteLikedByUser$ | async) }"
        >thumb_up</mat-icon
      >
      {{ "Like" | uppercase }}
    </button>
    <button mat-button>
      <mat-icon>comment</mat-icon>
      {{ "Comment" | uppercase }}
    </button>
  </single-quote>
  <p *ngIf="userLikes$ | async as userLikes" class="likes">
    <span class="likes__count">{{ userLikes.length }}</span
    ><span class="likes__text"> likes</span>
  </p>
</ng-container>

<loading *ngIf="loadingService.loading$ | async"></loading>
