.nav {
  margin-block-end: 3rem;

  .logo {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }

  .spacer {
    flex: 1 1 auto;
  }

  &-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
  }

  navbar-links {
    display: none;
  }
}
