.nav {
  position: sticky;
  top: 0;
  z-index: 100;

  .logo {
    display: flex;
    align-items: center;
    width: 2.5rem;

    cursor: pointer;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */

    &__image {
      display: inline-block;
      max-width: 100%;

      margin-inline-end: 0.5rem;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  &-toggle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  navbar-links {
    display: none;
  }
}
