<error-message
  *ngIf="errorMessageService.error$ | async as errorMessage"
  [errorMessage]="errorMessage"
></error-message>

<mat-paginator
  class="paginator"
  [length]="getPageLength()"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 50]"
  aria-label="Select page"
>
</mat-paginator>
<ul class="quotes-list" *ngIf="paginatedQuotes">
  <li *ngFor="let quote of paginatedQuotes" class="quotes-list__item">
    <single-quote [quoteData]="quote">
      <button mat-button>
        {{ "View Quote" | uppercase }}
      </button>
    </single-quote>
  </li>
</ul>

<loading *ngIf="loadingService.loading$ | async"></loading>
