.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & mat-error.error {
    margin-bottom: 50px;
  }

  &__field {
    max-width: 500px;
    width: 100%;
  }

  .button-group {
    display: flex;
    gap: 0.5rem;
  }
}
