<h1 class="title">Sign In</h1>

<form class="form">
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Email</mat-label>
    <input type="email" placeholder="Ex. pat@example.com" matInput required />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Password</mat-label>
    <input type="password" matInput required />
  </mat-form-field>
  <div class="button-group">
    <button type="submit" mat-raised-button>Sign In</button>
    <button type="button" mat-raised-button color="primary">
      Sign In With Google
    </button>
  </div>
</form>

<p class="sign-up-prompt">
  Don't have an account?
  <span class="sign-up-prompt__cta" routerLink="../sign-up">Sign up here</span>
</p>
