<ng-container *ngIf="userQuotes.length">
  <single-quote *ngFor="let quote of userQuotes" [quoteData]="quote">
    <button mat-button [routerLink]="['../edit', quote.id]">
      {{ "Edit" | uppercase }}
    </button>
    <button mat-button color="warn">
      {{ "Delete" | uppercase }}
    </button>
  </single-quote>
</ng-container>

<h1 *ngIf="!userQuotes.length && !error && !loading" class="text-center">
  You have no quotes!
</h1>

<loading *ngIf="loading && !error"></loading>

<h1 *ngIf="error && !loading" class="text-center">{{ error }}</h1>
